html,
body {
  font-family: barlow-extralight, barlow, sans-serif !important;
  letter-spacing: 1.2px;
  line-height: 1.5 !important;
}

strong {
  font-weight: bold !important;
}

body {
  background-color: #ffffff;
  position: relative;
  background: #fffff5 url("./images/banner-v3.jpg") no-repeat center top;
  background-size: 100vw;
}

header {
  height: 500px;
  text-align: center;
  position: relative;
}

header svg {
  max-width: 220px;
  width: 100%;
  margin-bottom: 20px;
}

.cls-1 {
  fill: #5b5b5b;
}

.header-content {
  position: relative;
  z-index: 1;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  max-width: 768px;
  padding: 20px;
}

.header-content p,
.sign-up p:nth-of-type(1),
.sign-up p,
.info p:nth-of-type(1),
.info p:nth-of-type(2) {
  font-size: 18px;
  margin: 0 auto 20px auto;
  max-width: 620px;
}

.header-content p:nth-of-type(1) {
  /* font-weight: bold; */
  margin-bottom: 10px;
}

.header-content p:nth-of-type(2) {
  font-weight: 100;
}

.header-content a {
  font-size: 18px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 250px;
  height: 50px;
  background: repeat padding-box border-box 0% 0% / auto auto scroll
    linear-gradient(
      180deg,
      rgba(149, 11, 11, 0.9) 0%,
      rgba(149, 11, 11, 0.9) 100%
    );
  margin: 40px auto 0 auto;
}

.info {
  padding: 20px;
}

.info p {
  text-align: center;
}

.info p:nth-of-type(1) {
  font-size: 26px;
  margin-bottom: 10px;
}

.info p:nth-of-type(2) {
  font-weight: 100;
  font-size: 16px;
}

.accent-divider {
  max-width: 30px;
  height: 2px;
  background-color: rgba(149, 11, 11, 0.9);
  margin: 0 auto 40px auto;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}

.card {
  background-color: #ffffff;
  margin: 20px;
  box-shadow: 0 5px 10px #d3d3d3d3;
  border-radius: 5px;
  width: 40%;
  position: relative;
  min-width: 300px;
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card-content {
  padding: 20px;
  font-weight: 100;
}

.card ul {
  list-style-type: none;
  margin-top: 40px;
}

.card ul li {
  margin-bottom: 10px;
}

.card p:nth-child(1) {
  font-size: 24px;
  color: rgba(158, 59, 27);
  margin-bottom: 20px;
}

.card p:nth-child(2) {
  margin-bottom: 20px;
  min-height: 100px;
}

hr {
  border: 1px solid #f3f3f3;
}

.container-wide-bg {
  background-image: linear-gradient(to bottom, #2a2a2a, #000000);
  position: relative;
}

.sign-up {
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  color: white;
}

.sign-up p {
  font-weight: 100;
  font-size: 16px;
}

.sign-up p:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 26px;
}

/* mailchimp */
.input-container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
}

.input-container .email {
  height: 50px;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 16px;
  padding-left: 20px;
  border: 1px solid white;
}

.input-container .button {
  font-size: 18px;
  color: white;
  height: 50px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid white;
  margin-top: 20px;
}

.input-container .button:hover {
  cursor: pointer;
}

#message {
  color: white;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
  display: none;
}

p.disclaimer {
  font-size: 14px !important;
  max-width: 300px !important;
}

footer {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px !important;
}

footer p,
footer a {
  color: white;
  font-size: 16px;
  margin: 20px 0;
  text-decoration: none;
}

hr.dark {
  border: 1px solid #1a1a1a;
}

footer .copyright {
  font-weight: 100;
  font-size: 12px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header svg {
    max-width: 300px;
  }

  .header-content p,
  .sign-up p:nth-of-type(1),
  .sign-up p,
  .info p:nth-of-type(1),
  .info p:nth-of-type(2) {
    font-size: 22px;
  }

  .info p:nth-of-type(1) {
    font-size: 30px;
  }

  .info p:nth-of-type(2) {
    font-size: 18px;
  }

  .sign-up p {
    font-size: 18px;
  }

  .sign-up p:nth-of-type(1) {
    font-size: 30px;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
